<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="__STATIC__/admin/style/jquery-1.8.3.min.js"></script>
</head>
<body>
<h1>用户注册</h1>
<input type="text" id="mobile">
<a href="" id="send">发送短信验证码</a>
<br>
短信验证码
<input type="text">
</body>
<script>
    $(function () {
        $('#send').click(function () {
            var mobile=$('#mobile').val();
            $.ajax({
                type:'post',
                dataType:'json',
                url:"{:url('User/sendSms')}",
                data:{mobile:mobile},
                success:function(d){
                    if(d.status=='success'){
                        alert('发送成功');
                    }
                }
            })
        })
    })
</script>
</html>